---
layout: default
---

.section{ :role => "section", "data-size" => "100vh" }

  .about-head-section
    %article.about-head__content
      %h1.about-head__title Об агентстве
      %p.about-head__text This add-on adds syntax highlighting and tab/code completion for Sass and SCSS files. It features Zen Coding shortcuts for many CSS properties, making you look like some kind of stylesheet wizard to everyone around you. You've got to like that.
    %a.about-head__logo{ :href => "/" } {{ site.title }}
    .about-head__copy
      El Fidel<br>
      digital agency<br>
      2014
    .about-head__social
      %a{ :href => "#", :target => "_blank" } Fb
      %a{ :href => "#", :target => "_blank" } Vk
      %a{ :href => "#", :target => "_blank" } Tw
    .about-head__hint


.section.about-strategy-section{ :role => "section", "data-size" => "100vh" }

  .about-strategy__content
    .about-strategy__top
      .about-strategy__top-column Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи. Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
      .about-strategy__top-column Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи. Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
    .about-strategy__circle-back{ :role => "about-strategy-back" }
    .about-strategy__circle
      .about-strategy__start
        .about-strategy__start__title  Комплексный проект
        .about-strategy__start__link{ :role => "about-strategy-link", "data-id" => "1" }
          .about-strategy__start__link__title
            %span Разработка стратегии
          .about-strategy__start__link__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
        .about-strategy__start__link{ :role => "about-strategy-link", "data-id" => "2" }
          .about-strategy__start__link__title
            %span Поддержка и развитие
          .about-strategy__start__link__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
        .about-strategy__start__link{ :role => "about-strategy-link", "data-id" => "3" }
          .about-strategy__start__link__title
            %span Создание сайта
          .about-strategy__start__link__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
        .about-strategy__start__link{ :role => "about-strategy-link", "data-id" => "4" }
          .about-strategy__start__link__title
            %span Рекламная кампания
          .about-strategy__start__link__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
      .about-strategy__block{ :role => "about-strategy-block", "data-id" => "1" }
        .about-strategy__block__content
          .about-strategy__block__info
            .about-strategy__block__info__title Разработка стратегии
            .about-strategy__block__info__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи. Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-strategy__block__part{ "data-part-id" => "1" }
            .about-strategy__block__part__title Исследование и анализ 
            .about-strategy__block__part__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-strategy__block__part{ "data-part-id" => "2" }
            .about-strategy__block__part__title Проработка каналов
            .about-strategy__block__part__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-strategy__block__part{ "data-part-id" => "3" }
            .about-strategy__block__part__title Оценка эффективности
            .about-strategy__block__part__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-strategy__block__part{ "data-part-id" => "4" }
            .about-strategy__block__part__title Построение медиаплана
            .about-strategy__block__part__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
      .about-strategy__block{ :role => "about-strategy-block", "data-id" => "2" }
        .about-strategy__block__content
          .about-strategy__block__info
            .about-strategy__block__info__title Поддержка и развитие
            .about-strategy__block__info__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи. Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-strategy__block__part{ "data-part-id" => "1" }
            .about-strategy__block__part__title Исследование и анализ 
            .about-strategy__block__part__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-strategy__block__part{ "data-part-id" => "2" }
            .about-strategy__block__part__title Проработка каналов
            .about-strategy__block__part__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-strategy__block__part{ "data-part-id" => "3" }
            .about-strategy__block__part__title Оценка эффективности
            .about-strategy__block__part__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-strategy__block__part{ "data-part-id" => "4" }
            .about-strategy__block__part__title Построение медиаплана
            .about-strategy__block__part__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
      .about-strategy__block{ :role => "about-strategy-block", "data-id" => "3" }
        .about-strategy__block__content
          .about-strategy__block__info
            .about-strategy__block__info__title Создание сайта
            .about-strategy__block__info__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи. Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-strategy__block__part{ "data-part-id" => "1" }
            .about-strategy__block__part__title Исследование и анализ 
            .about-strategy__block__part__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-strategy__block__part{ "data-part-id" => "2" }
            .about-strategy__block__part__title Проработка каналов
            .about-strategy__block__part__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-strategy__block__part{ "data-part-id" => "3" }
            .about-strategy__block__part__title Оценка эффективности
            .about-strategy__block__part__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-strategy__block__part{ "data-part-id" => "4" }
            .about-strategy__block__part__title Построение медиаплана
            .about-strategy__block__part__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
      .about-strategy__block{ :role => "about-strategy-block", "data-id" => "4" }
        .about-strategy__block__content
          .about-strategy__block__info
            .about-strategy__block__info__title Рекламная кампания
            .about-strategy__block__info__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи. Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-strategy__block__part{ "data-part-id" => "1" }
            .about-strategy__block__part__title Исследование и анализ 
            .about-strategy__block__part__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-strategy__block__part{ "data-part-id" => "2" }
            .about-strategy__block__part__title Проработка каналов
            .about-strategy__block__part__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-strategy__block__part{ "data-part-id" => "3" }
            .about-strategy__block__part__title Оценка эффективности
            .about-strategy__block__part__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-strategy__block__part{ "data-part-id" => "4" }
            .about-strategy__block__part__title Построение медиаплана
            .about-strategy__block__part__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.


.section.about-showreel-section{ :role => "section", "data-size" => "100vh" }

  .about-showreel__content
    %video.about-showreel__video{ :preload => "auto", :autoplay => "autoplay", :loop => "loop", :muted => "muted" }
      %source{ :src => "assets/video/luxury-yacht-charter-video.mp4" }
      %source{ :src => "assets/video/luxury-yacht-charter-video.ogv" }
    .about-showreel__info
      .about-showreel__info__title Showreel 2014
      .about-showreel__info__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.


.section{ :role => "section" }

  .about-us-section
    .about-us__title О нас говорят:
    .about-us-list-wrapper
      .about-us-list{ :role => "about-us-slider" }
        .about-us-item
          .about-us-item__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-us-item__author
            .about-us-item__author__name Василий Петров
            .about-us-item__author__company neopharm
        .about-us-item
          .about-us-item__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-us-item__author
            .about-us-item__author__name Василий Петров
            .about-us-item__author__company neopharm
        .about-us-item
          .about-us-item__text Мониторинг в поисковых системах и соц. сетях. Получение информации для принятия верных решений, сбор обратной связи.
          .about-us-item__author
            .about-us-item__author__name Василий Петров
            .about-us-item__author__company neopharm

  .about-clients-section
    .about-clients-list
      %img.about-clients-item{ :src => "assets/images/about/partner001.png" }
      %img.about-clients-item{ :src => "assets/images/about/partner002.png" }
      %img.about-clients-item{ :src => "assets/images/about/partner003.png" }
      %img.about-clients-item{ :src => "assets/images/about/partner004.png" }
      %img.about-clients-item{ :src => "assets/images/about/partner005.png" }
    .about-clients__full-list__title Полный список клиентов
    .about-clients__full-list__text
      %strong Недвижимость
      YIT International, Корпорация А.Н.Д., ТЦ Смоленский, ТРЦ Калейдоскоп, ТРЦ Фестиваль, ТЦ Калужский, ТЦ Норд Сити Молл, ТЦ Галерея-Краснодар, БЦ Буревестник, БЦ Диапазон, Mirland Development, Триумф Парк, Итака Недвижимость, Квадратный метр, Компас, Сейсмозащита, Art Property Group
      %strong Туризм
      BSI Group, Путешествие с ребенком, Элефантик
      %strong Интернет-магазины и IT
      Адлер-М, Бизнес-мода, Школьник, Питер-Софт, TicketFriends, Экорад
      %strong Финансы и страхование
      Невский банк, Адвант-страхование
      %strong Развлечения и досуг
      Киносфера, Бар 17
      %strong Медицина и фармакалогия
      Неофарм, Балтмедикал.

  .about-mail-section
    .about-mail__title Напишите нам
    %form.about-mail-form{ :role => "mail-form" }
      .form-group
        %input.form-control{ :name => "email", :type => "email", :required => "required", :placeholder => "email" }
        %span.glyphicon.form-control-feedback
      .form-group
        %textarea.form-control{ :name => "message", :required => "required", :placeholder => "Сообщение" }
      .mail-file-label{ :role => "mailfile-add" } Прикрепить файл
      .mail-file-list{ :role => "mailfile-cont" }
      .mail-form-plane{ :role => "plane" }
      %input.btn-mail-form{ :type => "submit", :value => "Отправить" }

  .projects-slider-section
    .projects-slider__title Наши проекты
    .projects-slider-list__wrapper
      .projects-slider-list{ :role => "projects-slider" }
        %a.projects-slider-item{ :href => "#" }
          %img{ :src => "assets/images/about/001.png" }
        %a.projects-slider-item{ :href => "smolensky.html" }
          %img{ :src => "assets/images/about/002.png" }
        %a.projects-slider-item{ :href => "#" }
          %img{ :src => "assets/images/about/003.png" }
      .bx-controls
        #projects-slider-prev
        #projects-slider-next

  %footer.footer
    .footer__social
      %a{ :href => "#", :target => "_blank" } Fb
      %a{ :href => "#", :target => "_blank" } Vk
      %a{ :href => "#", :target => "_blank" } Tw
    .footer__copy
      El Fidel<br>
      digital agency<br>
      2014
