---
layout: default
scroll-type: page-horizontal
---

.section.project-video-section{ :role => "section-video", "data-size" => "80vw" }
  %video{ :preload => "auto", :autoplay => "autoplay", :loop => "loop", :muted => "muted", "data-video-bg" => "true" }
    %source{ :src => "assets/video/bar17.mp4" }
  %a.project-video__logo{ :href => "/" } {{ site.title }}
  .project-video__copy
    El Fidel<br>
    digital agency<br>
    2014
  .project-video__social
    %a{ :href => "#", :target => "_blank" } Fb
    %a{ :href => "#", :target => "_blank" } Vk
    %a{ :href => "#", :target => "_blank" } Tw

.section.bar17-section{ :role => "section-content", "data-scroll-begin" => "0.8" }
  .bar17__parallax3{ :role => "parallax-style-item", "data-parallax-type" => "back" }
  .bar17__parallax4{ :role => "parallax-style-item", "data-parallax-type" => "back" }
  .bar17__parallax5{ :role => "parallax-style-item", "data-parallax-type" => "back" }
  .bar17__parallax6{ :role => "parallax-style-item", "data-parallax-type" => "back" }
  .bar17__parallax1{ :role => "parallax-style-item", "data-parallax-type" => "back" }
  .bar17__1{ :role => "project-block" }
    .bar17__1_content
      .bar17__1_img
        %img{ :src => "assets/images/bar17_case/001.png" }
      .bar17__1_text
        %h1.bar17__1__title Бар 17
        %p Разработка digital-стратегии для первого в Санкт-Петербурге хоккейного бара.
        .project-about{ :role => "project-about" } О проекте
  .bar17__2{ :role => "project-block" }
    .bar17__2__content
      .big
        %p Бар 17 - первый хоккейный бар в Санкт-Петербурге. Бар открыт под эгидой Александра Харламова, сына прославленного хоккеиста.
      %p Заведение не только с атрибутами наследия советского и российского хоккея, но и со своей историей — призвано объеденить под своей крышей всех любителей спорта из различных городов России.
  .bar17__3{ :role => "project-block" }
    .bar17__3__content
      .bar17__3__title Валерий Борисович Харламов
      .bar17__3__text Заслуженный мастер спорта СССР, двукратный олимпийский чемпион.
      .bar17__3__copy
        © РИА Новости.
        %br
        Сомов Юрий
  .bar17__4{ :role => "project-block" }
    .bar17__4__content
      .bar17__page-title Проблема
      %p.big Представители бара обратились к нам с тривиальной проблемой - отсутствие посещаемости заведения.
      %p Это при том факте, что "Ска" — лидер по посещаемости в континентальной хоккейной лиги. На их игры в среднем приходит 12 133 зрителя, что составляет 97% от общей вместимости "Ледового дворца".
  .bar17__5{ :role => "project-block" }
    .bar17__5__content
      .bar17__page-title Задача
      %p.big Задачей стало найти способы привлечения и удержания целевой аудитории, как болельщиков "СКА", таки болельщиков других видов спорта в баре на просмотре матчей любимой команды.
      %img{ :src => "assets/images/bar17_case/006.png" }
  .bar17__6{ :role => "project-block" }
    .bar17__6_content
      %img{ :src => "assets/images/bar17_case/007.png" }
      / %img{ :src => "assets/images/bar17_case/007_1.png" }
      / %img{ :src => "assets/images/bar17_case/007_2.png" }
      / %img{ :src => "assets/images/bar17_case/007_3.png" }
      .bar17__6__text После выявления целей посещения бара, мы определили основные портреты потенциальных клиентов "Бара 17". Выявление потребительского инсайта у каждого представителя, помогло сформировать сообщение и выбрать рекламную площадку его трансляции по каждому из сегментов ЦА.
  .bar17__7
    .bar17__7__content
      .bar17__7__top
        .bar17__7__top__item
          .bar17__7__top__item__number 100
          .bar17__7__top__item__text тематических групп
        .bar17__7__top__item
          .bar17__7__top__item__number 700
          .bar17__7__top__item__text профилей в соц. сетях
        .bar17__7__top__item
          .bar17__7__top__item__number 50
          .bar17__7__top__item__text человек
      %p Изучив огромный спектр барных сообществ, в том числе находящихся на расстоянии от «Бара 17» и даже в Москве, мы определили основные активности, помогающие привлекать широкую публику в свои заведения. Было проанализировано более 50 человек путем личного общения, более 700 профилей в соц.сетях представителей ЦА, более 100 сообществ Вконтакте, различные спортивные блоги и интервью с директорами и представителями барной индустрии.
      %p В конце digital стратегии все исследования трансформировались в приблизительную стоимость привлечения каждого сегмента целевой аудитории и выявление точек коммуникаций с ними.
  .bar17__8{ :role => "project-block" }
    .bar17__8__content
      .bar17__page-title Результат
      .bar17__8__text
        %p.big Результатом стратегии стал не только медийный план на год, но и составление программы трансляций в баре на каждую неделю, синхронизированной с активностями в соц.сетях, что поддерживает актуализацию сообщений, транслируемых на рекламных площадках, а значит и больший процент вовлеченности целевой аудитории.
  .bar17__9{ :role => "project-block" }
    .bar17__9__content
      .bar17__9__item
        .bar17__9__item__title 15
        .bar17__9__item__text сегментов целевой аудитории
      .bar17__9__item
        .bar17__9__item__title 10
        .bar17__9__item__text различных рекламных каналов
  .bar17__10{ :role => "project-block" }
    .bar17__10__content
      .bar17__10__number 1 000 000+
      .big сегментов целевой аудитории
  .bar17__parallax2{ :role => "parallax-style-item", "data-parallax-type" => "front" }


.section.project-end-section{ :role => "section-info" }

  .project-info-section
    .project-info__top
      .project-info__top__left
        .project-info__top__left__title
          Бар 17
        .project-info__top__left__content
          %p This add-on adds syntax highlighting and tab/code completion for Sass and SCSS files. It features Zen Coding shortcuts for many CSS properties, making you look like some kind of stylesheet wizard to everyone around you. You've got to like that.
      .project-info__top__right
        .project-info__top__right__title
          %a{ :href => "http://bar17.ru/", :target => "_blank" } www.bar17.ru
        .project-info__top__right__content
          лайк
          %br
          %br
          лайк
          %br
          %br
          лайк
    .project-info__people
      .project-info__people__title.small.gray Над проектом работали
      .project-info__people__item
        %p Ксения Троицкая
        %p.small.gray project manager
      .project-info__people__item
        %p Михаил Новожилов
        %p.small.gray art director
      .project-info__people__item
        %p Дарья Вершинина
        %p.small.gray ux design
      .project-info__people__item
        %p Петр Стилавин
        %p.small.gray web desibg
      .project-info__people__item
        %p Никита Ковалев
        %p.small.gray code

  %a.project-next-section.bar17__next{ :href => "smolensky.html" }
    .project-next__text Следующий<br> проект
