---
layout: default
scroll-type: page-decks
page-mod: decks
---

.float-void.fix-deck{ :role => "skrollr-deck" }

  .blog-inner-head-section
    .blog-inner-head__image-cont{ :role => "blog-image-cont" }
      %img.blog-head__image{ :src => "assets/content/blog_inner/head.jpg" }
    %a.blog-inner-head__back{ :href => "blog.html" } < Назад к блогу
    %article.blog-inner-head__content
      %h1.blog-inner-head__title Церемония награждения SPECIA
      %p.blog-inner-head__text This add-on adds syntax highlighting and tab/code completion for Sass and SCSS files. It features Zen Coding shortcuts for many CSS properties, making you look like some kind of stylesheet wizard to everyone around you. You've got to like that.
    %a.blog-inner-head__logo{ :href => "/" } {{ site.title }}
    .blog-inner-head__copy
      El Fidel<br>
      digital agency<br>
      2014
    .blog-inner-head__social
      %a{ :href => "#", :target => "_blank" } Fb
      %a{ :href => "#", :target => "_blank" } Vk
      %a{ :href => "#", :target => "_blank" } Tw
    .blog-inner-head__hint

.float-void.free-height{ :role => "skrollr-deck" }

  %section.blog-inner__content
    %header.blog-inner__header
      %img.blog-inner__avatar{ :src => "assets/content/avatar1.png" }
      %h1.blog-inner__title Церемония награждения SPECIA
      .blog-inner__info
        %span.blog-inner__time 23 декабря 2014
        \/
        %span.blog-inner__author Автор: Лия Галиева

    %p This add-on adds syntax highlighting and tab/code completion for Sass and SCSS files. It features Zen Coding shortcuts for many CSS properties, making you look like some kind of stylesheet wizard to everyone around you. You've got to like that.
    %p This add-on adds syntax highlighting and tab/code completion for Sass and SCSS files. It features Zen Coding shortcuts for many CSS properties, making you look like some kind of stylesheet wizard to everyone around you. You've got to like that.
    %p This add-on adds syntax highlighting and tab/code completion for Sass and SCSS files. It features Zen Coding shortcuts for many CSS properties, making you look like some kind of stylesheet wizard to everyone around you. You've got to like that.

    %p
      %img{ :src => "assets/content/blog_inner/photo1.jpg" }

    %p This add-on adds syntax highlighting and tab/code completion for Sass and SCSS files. It features Zen Coding shortcuts for many CSS properties, making you look like some kind of stylesheet wizard to everyone around you. You've got to like that.
    %p This add-on adds syntax highlighting and tab/code completion for Sass and SCSS files. It features Zen Coding shortcuts for many CSS properties, making you look like some kind of stylesheet wizard to everyone around you. You've got to like that.
    %p This add-on adds syntax highlighting and tab/code completion for Sass and SCSS files. It features Zen Coding shortcuts for many CSS properties, making you look like some kind of stylesheet wizard to everyone around you. You've got to like that.

    %p.blog-inner__note This add-on adds syntax highlighting and tab/code completion for Sass and SCSS files.

    %p This add-on adds syntax highlighting and tab/code completion for Sass and SCSS files. It features Zen Coding shortcuts for many CSS properties, making you look like some kind of stylesheet wizard to everyone around you. You've got to like that.
    %p This add-on adds syntax highlighting and tab/code completion for Sass and SCSS files. It features Zen Coding shortcuts for many CSS properties, making you look like some kind of stylesheet wizard to everyone around you. You've got to like that.
    %p This add-on adds syntax highlighting and tab/code completion for Sass and SCSS files. It features Zen Coding shortcuts for many CSS properties, making you look like some kind of stylesheet wizard to everyone around you. You've got to like that.

    %p
      %img{ :src => "assets/content/blog_inner/photo2.jpg" }

    %p
      This add-on adds syntax highlighting and tab/code completion for Sass and SCSS files.
      %br
      It features Zen Coding shortcuts for many CSS properties, making you look like some kind of stylesheet wizard to everyone around you.
      %br
      You've got to like that.

    .blog-inner__social
      блок для кнопок соц сетей

  .blog-inner__nav
    %a.blog-inner__prev{ :href => "#" }
      .blog-inner__nav__label Предыдущий пост
      CRM: Как мы внедряли у себя в компании
    %a.blog-inner__next{ :href => "#" }
      .blog-inner__nav__label Следующий пост
      Фрилансеры дешевле агенств.
      %br
      Может работать с ними?

  %footer.footer
    .footer__social
      %a{ :href => "#", :target => "_blank" } Fb
      %a{ :href => "#", :target => "_blank" } Vk
      %a{ :href => "#", :target => "_blank" } Tw
    .footer__copy
      El Fidel<br>
      digital agency<br>
      2014
