%a.menu-main__open{ :href => "javascript:;", :role => "menu-main-open" }
%nav.menu-main{ :role => "menu-main" }
  %a.menu-main__close{ :href => "javascript:;", :role => "menu-main-close" }
  %a.menu-main__link{ :href => "about.html" } Об агентстве
  %a.menu-main__link{ :href => "/#projects" } Проекты
  %a.menu-main__link{ :href => "blog.html" } Блог
  %a.menu-main__link{ :href => "/#contacts" } Контакты
